
#container{
    position:relative;   
}

#ball{

    width: 20px;
    height:20px;
    background-color: red;
    position:fixed;
    top : 20px;
    left:52.5%;
    border-radius: 50%;
}

#rod1, #rod2{
    width: 200px;
    height: 20px;
    position: fixed;
    left: 50%;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    color: white;
}

#rod1{
    background-color: blueviolet;
    top:0px;
}

#rod2{
    background-color: blue;
    bottom:0px;
}
